body {
	margin: 0;
}

.headerContainer {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom-width: 1px;
	border-bottom-color: #aaa;
	border-bottom-style: solid;
}

.bodyContainer {
	display: flex;
	flex-wrap: wrap;
}

.cardContainer {
	margin: 10px;
	padding: 20px;
	background-color: #fafafa;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .15);
}

.cardTop {
	border-bottom-width: 1px;
	border-bottom-color: #aaa;
	border-bottom-style: solid;
	height: 80%;
}

.cardBottom {
	height: 20%;
}
